   #main {
       height: 90%;
   }

   body {
       padding: 0;
       margin: 0;
       background: gainsboro;
   }

   h1 {
       padding: 0;
       margin: 0;
       font-size: 100%;
       color: white;
   }

   p {
       margin: 0
   }

   #output_nearest {
       color: white;
       height: 50px;
   }

   #output_text {
       display: flex;
   }

   #km {
       display: flex;

   }

   #output_km {
       color: aquamarine;
   }

   #text_km {
       color: black;
   }